<div class="mt-5">
    <%= link_to "Sign UP", new_user_registration_path %>
</div>

<%= link_to "Login In", new_user_session_path %>
<%= link_to "Logout",destroy_user_session_path, method: :delete if user_signed_in? %>